/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background: #f5f6f8;
}
#container {
    margin: 5em auto;
    max-width: 700px;
    display: block;
    background: #fff;
    padding: 50px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px 0px #e6e6e6;
}
body {
	font-family: "Myriad Pro", sans-serif;
	font-size: 14px;
}
a {
	color: #00aee6;
}
/**
 * Stylesheet
 */


.sd-button {
	background: #FFFFFF;
    border: 1px solid #BAD5F4;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    border-radius: 2px;
    padding: 20px 25px 20px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    line-height: 1px;
    color: #00aee6;
    cursor: pointer;
    line-height: 1px;
    font-size: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
#sharedrive-file-table a {
	text-decoration: none;
}

#sharedrive-file-table-table {
	margin-top: 15px;
}

.sharedrive-headings {
	background: #f5f6f7;
    padding: 15px;
    color: #4a4a4a;
    font-weight: bold;
}

.sharedrive-headings .sharedrive-headings-th {
	display: inline-block;
	width: 20%;
}

#sharedrive-file-table {
	position: relative;
}

#sharedrive-file-table .sharedrive-title {
	width: 50%;
}

#sharedrive-file-table .sharedrive-item {
	width: 15%;
	vertical-align: middle;
	display: inline-block;
}

#sharedrive-file-table .sd-checkbox {
	width: 5%;
}

#sharedrive-file-table .sharedrive-item.sd-checkbox input[type=checkbox] {
	margin-top: -4px;
}

#sharedrive-file-table .sharedrive-date {
	width: 20%;
}

#sharedrive-file-table .sharedrive-owner {
	width: 5%;
}

#sharedrive-file-table .sharedrive-item img.avatar {
	max-width: 100%;
	width: 32px;
	height: auto;
	border-radius: 50%;
}

#sharedrive-file-table .sharedrive-node-items {
	padding: 15px;
}
#sharedrive-file-table .sharedrive-node-items:nth-child(even) {
	background: #F8FBFF;
}

.sharedrive-node-items ul li {
	display: inline-block;
}

#shareDriveNewObjectActions {
	float: left;
}
#shareDriveObjectActions {
	float: right;
}

.clearfix {
	display: block;
	clear: both;
}

.sharedrive-menu ul {
	display: inline-block;
	width: 100%;
	margin-bottom: 9px;
}
.sharedrive-menu li.sharedrive-menu-item{
	float: left;
	margin-right: 10px;
}

/** Add Form */
h3#sd-form-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 1.5em;
}

.sd-directory-prompt .input-group {
	margin: 15px 0;
}

.sd-directory-prompt  .input-group .description {
	margin-left: 20px;
	margin-top: 5px;
	opacity: 0.65;
	font-size: 12px;
}

.sd-directory-prompt input[type=text], 
.sd-directory-prompt  textarea {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}


.sd-directory-prompt-wrap {
    background: #fff;
    padding: 20px;
    box-shadow: 0 5px 15px 0px #000000;
    border: 1px solid #eee;
    border-radius: 4px;
    width: 500px;
    z-index: 20;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

.sd-directory-prompt {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 100%;
    left: 0px;
    background: rgba(0,0,0,0.80);
    z-index: 30;
}

/**
 * Icons
 */
.sharedrive-node-items li a:before {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\f0f6";
    margin-right: 5px;
}

.sharedrive-node-items li a.folder:before { content: "\f07b"; }
.sharedrive-node-items li a.zip:before { content: "\f1c6"; }
.sharedrive-node-items li a.image:before { content: "\f1c5"; }
